.hero {
position: relative;
}

.hero-image {
width: 100%;
height: 85vh;
overflow: hidden;

img {
width: 100%;
height: 100%;
object-fit: cover;
animation: fadeUp 1.2s ease forwards;
}

@include respond(tablet) {
height: 60vh;
}

@include respond(mobile) {
    height: 45vh;
}
}
