// Colores
$primary: #425142;
$secondary: #5E6360;
$accent: #404A30;
$light: #E0D8CB;

// Espaciados
$space-xl: 120px;
$space-lg: 96px;
$space-md: 48px;
$space-sm: 24px;

// Otros
$radius: 8px;
$transition: all 0.3s ease;

// Gradiente
$gradient-soft: linear-gradient(
180deg,
rgba(224, 216, 203, 0.6),
rgba(255, 255, 255, 0)
);
