@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/animations";

@import "layout/nav";
@import "layout/hero";
@import "layout/footer";

@import "components/buttons";
@import "components/cards";

@import "pages/home";
@import "pages/carta";
@import "components/helpers";
@import "pages/tips";


